{
  "env": {
    "amd": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "standard",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0
  }
}
